@use "mixins" as *;
@use "colors" as *;
@use "reset" as *;

body {
  font-family: "Hina Mincho", serif;
}

.container {
  width: 1024px;
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
