---
import PageLayout from "../layouts/PageLayout.astro";
import MainVisual from "../components/MainVisual.astro";
---

<PageLayout title="ホーム" description="GSAPとSwiperを連携させたコンポーネント作成">
  <div class="container">
    <MainVisual />
  </div>
</PageLayout>