---
---

<div class="main-visual">
  <div class="main-visual__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        <p class="slide-text"></p>
      </div>
      <div class="swiper-slide slide-2">
        <p class="slide-text"></p>
      </div>
      <div class="swiper-slide slide-3">
        <p class="slide-text"></p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .main-visual__slider .swiper-slide {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .slide-text {
    font-size: clamp(1.5rem, 0.818rem + 3.41vw, 3rem);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
</style>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";
  import { gsap, Back } from "gsap";

  const slideString1 = "一枚目のスライドです".split("");
  const slideString2 = "二枚目のスライドです".split("");
  const slideString3 = "三枚目のスライドです".split("");
  const $slideTexts = document.querySelectorAll(".slide-text");

  $slideTexts[0].insertAdjacentHTML("beforeend", slideString1.map(value => `<div class="str">${ value }</div>`).join(""));
  $slideTexts[1].insertAdjacentHTML("beforeend", slideString2.map(value => `<div class="str">${ value }</div>`).join(""));
  $slideTexts[2].insertAdjacentHTML("beforeend", slideString3.map(value => `<div class="str">${ value }</div>`).join(""));

  gsap.set([
    ".slide-1 .str",
    ".slide-2 .str",
    ".slide-3 .str",
  ], {
    y: -30,
    opacity: 0,
  });

  gsap.to(".slide-1 .str", {
    delay: 1,
    y: 0,
    opacity: 1,
    ease: Back.easeOut,
    stagger: 0.1
  });

  const mvSlider = new Swiper(".main-visual__slider", {
    slidesPerView: 1,
    loop: true,
    speed: 1000,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true,
    },
  });

  let isFirstLoop = true;
  let activeIndexNumbers: Array<number> = [];

  mvSlider.on("transitionEnd", (e) => {
    if (isFirstLoop) {
      if (e.realIndex === 1) {
        gsap.to(".slide-2 .str", {
          y: 0,
          opacity: 1,
          ease: Back.easeOut,
          stagger: 0.1
        });

        gsap.set(".slide-1 .str", {
          y: -30,
          opacity: 0,
        });
      }

      if (e.realIndex === 2) {
        gsap.to(".slide-3 .str", {
          y: 0,
          opacity: 1,
          ease: Back.easeOut,
          stagger: 0.1
        });

        gsap.set(".slide-2 .str", {
          y: -30,
          opacity: 0,
        });
        isFirstLoop = !isFirstLoop;
      }

    } else {
      activeIndexNumbers.push(e.realIndex);

      if (activeIndexNumbers.length === 2) {
        const newRealIndex = activeIndexNumbers.join("");

        if (newRealIndex === "20") {
          gsap.to(".slide-1 .str", {
            y: 0,
            opacity: 1,
            ease: Back.easeOut,
            stagger: 0.1
          });

          gsap.set(".slide-3 .str", {
            y: -30,
            opacity: 0,
          });

        } else if (newRealIndex === "01") {
          gsap.to(".slide-2 .str", {
            y: 0,
            opacity: 1,
            ease: Back.easeOut,
            stagger: 0.1
          });

          gsap.set(".slide-1 .str", {
            y: -30,
            opacity: 0,
          });
          
        } else {
          gsap.to(".slide-3 .str", {
            y: 0,
            opacity: 1,
            ease: Back.easeOut,
            stagger: 0.1
          });

          gsap.set(".slide-2 .str", {
            y: -30,
            opacity: 0,
          });
        }
        activeIndexNumbers.length = 0;
      }
    }
  })
</script>