---
import "../styles/global.scss";

const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{ title }</title>
    <meta name="description" content={ description }>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
    <script src="../scripts/main.js"></script>
  </body>
</html>